.header_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
  height: 60px;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_right {
  display: flex;
}

.header_logo {
  margin-right: 20px;
}

.header_logo img {
  width: 35px;
  border-radius: 20px;
}

.header_text {
  display: flex;
  flex-direction: column;
  color: white;
}

.header_text h4 {
  margin-bottom: -20px;
}

.header_search {
  display: flex;
  align-items: center;
  padding: 5px 18px;
  height: 27px;
  border-radius: 14px;
  background: #282e50;
}

.header_search img {
  margin-right: 5px;
  width: 30px;
}

.header_search input {
  padding: 5px;
  background: none;
  border: none;
  height: 20px;
  outline: none;
  color: white;
}

.header_notification {
  margin-left: 10px;
  height: 27px;
  padding: 6px;
  background: #282e50;
  border-radius: 8px;
}

.header_weather {
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: white;
  padding: 6px 19px;
  height: 27px;
  background: #282e50;
  border-radius: 8px;
}

.header_weather img {
  margin-right: 15px;
}

.weather_text {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.weather_text h4 {
  font-size: 12px;
  margin-bottom: 12px;
}

.weather_text h6 {
  margin-top: -11px;
}
