.navbar_main {
  display: flex;
  align-items: flex-start;
}

.navbar_left {
  /* margin-right: 30px; */
  /* padding: 20px; */
  background: #1e2243;
  border: none;
  border-radius: 20px;
}

/* .nav_tab {
  color: white;
} */

#vertical-tab-0,
#vertical-tab-1,
#vertical-tab-2,
#vertical-tab-3,
#vertical-tab-4,
#vertical-tab-5 {
  color: #837d93;
  margin-bottom: 10px;
  text-transform: capitalize;
  padding: 0 10px;
}

#vertical-tab-5 {
  margin-top: 300px;
}

.navbar_right {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_top {
  width: 83vw;
  height: 80vh;
  background: yellow;
  border-radius: 20px;
}

.nav_bottom {
  margin-top: 50px;
}
